<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <link rel="stylesheet" href="css/plans.css">  
</head>
  <body>

      <h1 style="text-align: center">Choose the right plan for you </h1>
    <div id="plansContainer">
        <form action="" method="post">
        <table class="table">
            <thead>     
              <tr>
                <th scope="col"><div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Monthly</button>
                    <button type="button" class="btn btn-primary">Yearly</button>
                  </div></th>
                <th scope="col"><input class="btn btn-primary" type="button" value="Mobile"></th>
                <th scope="col"><input class="btn btn-primary" type="button" value="Basic"></th>
                <th scope="col"><input class="btn btn-primary" type="button" value="Standard"></th>
                <th scope="col"><input class="btn btn-primary" type="button" value="Premium"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monthly Price</th>
                <td>&#8377 100</td>
                <td>&#8377 200</td>
                <td>&#8377 300</td>
                <td>&#8377 400</td>
              </tr>
              <tr>
                <th scope="row">Vedio Quality</th>
                <td>Good</td>
                <td>Good</td>
                <td>Better</td>
                <td>Best</td>
              </tr>
              <tr>
                <th scope="row">Resolution</th>
                <td >480p</td>
                <td>480p</td>
                <td>1080p</td>
                <td>4k +HDR</td>
                </tr>
              <tr>
                <th scope="row">Devices you can use to watch</th>
                <td >
                    <p>Phone</p>
                    <p>Tablet</p>
                </td>
                <td>
                    <p>Phone</p>
                    <p>Tablet</p>
                    <p>Computer</p>
                    <p>TV</p>
                </td>
                <td><p>Phone</p>
                    <p>Tablet</p>
                    <p>Computer</p>
                    <p>TV</p>
                </td>
                <td>
                    <p>Phone</p>
                    <p>Tablet</p>
                    <p>Computer</p>
                    <p>TV</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-primary " type="button">Next</button>
          </div>

          </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>